<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://afaazewtmlns001doctest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f2d5e8f9-9911-4b92-9f4a-2e3bdd2b7041/resourceGroups/rgpazewtmlns001docmndc/providers/Microsoft.Web/sites/afaazewtmlns001doctest</ResourceId>
    <UserName>$afaazewtmlns001doctest</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://afaazewtmlns001doctest.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>